@media print {
    /* Remove unnecessary elements */
    header, footer, nav, aside, .no-print {
      display: none !important;
    }
  
    .print-only{
        display: block;
    }
    
    h1 {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    h1 a {
        color: black;
    }
    
    #resumeContact-print{
        display: flex;
        flex-wrap: nowrap;
        gap: 4px;
        justify-content: space-between;
        font-size: 12px;
        padding-bottom: 4px;
    }

    #resumeContact-print > div i{
        vertical-align: middle;
    }

    #resumeContact-print a{
        text-decoration: none;
        color: black;
    }

    #resumeSection-print .sub-section{
        padding-bottom: 8px;
    }

    #resumeSection-print .sub-section-header{
        border-bottom: 1px solid black;
        text-transform: uppercase;
        font-weight: bold;
    }
    
    #resumeSection-print p{
        text-align: justify;
    }

    /* Adjust font size and line height for readability */
    body {
      font-size: 12pt;
      line-height: 1.5;
    }
  
    /* Set page margins and orientation */
    @page {
      margin: 1in;
      size: A4;
      orientation: portrait;
    }
  
    /* Remove background colors and images */
    body, html {
      background: none;
    }
  
    /* Adjust table styles for better printing */
    table {
      border-collapse: collapse;
      border: 1px solid black;
    }
    td, th {
      border: 1px solid black;
      padding: 0.5em;
    }
  }